/*모두 적용- 전체*/
.gaegu-regular {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1px;
  }

  /*제목*/
 .big_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 80px;
    background-color: lightgreen;
    z-index: 10;
 }
 .big_title > h1 {
    display: inline-block;
    color: darkgreen;
    font-size: 50px;
}
.big_title > h1 + label > span {
    display: block;
    width: 50px;
    height: 5px;
    margin: 10px;
    border-radius:30px;
    background: darkgreen;
}

/*메뉴 바*/
nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top:30%;
    left:50px;
    width: 150px;
    padding: 15px;
    border-radius: 30px;
    background-color: lightgreen;
}
nav > span {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:10px;
    width: 80%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 30px;
    background-color: white;
}
    /*focus 넣으려고 버튼으로 함 -> h2일때는 focus안됨 ㅠ*/
nav > span > button {
    border: 0;
    background-color: transparent;
    font-family: "Gaegu", sans-serif;
    font-weight: 550;
    font-size: 25px;
    font-style: normal;
}
nav > span > button:focus, nav > span > button:hover {
    width: 100%;
    border-radius: 30px;
    background-color: lightgreen;
    color: white;
}
nav > span > button > a {
    text-decoration:none;
    color: black;
}


/*메인*/
main{
    position: relative;
    left: 250px;
    width: 80%;
    height: 100%; /*footer 하단 고정에 필요*/
    margin-bottom: 100px;
    overflow: hidden;
}
#banner {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 100px;
    gap: 10px;
    width: 100%;

    animation-name: banner;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
}
@keyframes banner {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
main > section > h1 {
    display: flex;
    align-items: end;
    height: 100px;
    font-size: 30px;
}

    /*화면 크기 줄일 때 반응형.. 수동으로 했다...! ㅋㅋ */
@media screen and (max-width: 1255px) {
    .container > span{
        min-width: 300px;
    }
}
@media screen and (max-width: 992px) {
    .container > span{
        min-width: 500px;
    }
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.container > span {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 250px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(227, 253, 227);
}
.container > span:hover {
    animation-name: demo;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes demo {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.04);
    }
}
.heart:hover {
    filter: invert(100%) ;
}
img {
    display: flex;
    width: 80%;
    min-width: 200px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.container > span > h3 {
    margin: 10px;
}
/*FOOTER*/
footer {
    display: flex;
    justify-content: center;
    position: relative; /*하단 고정위함*/
    transform: translateY(100%);
    width: 100%;
    padding-bottom: 100px;
    background-color: darkgreen;
    color: lightgreen
}

