body{
  margin: 0;
  padding: 0;
}

.bigHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fae06d;
  color: #4c82c9;
}
main{
  width: 100%;
}

.levelBtns{
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.itemImg{
  width: 10rem;
  height: 12rem;
  border-radius: 10%;
}